$color: (
  theme: #333,
  title: #369,
  subtitle: #444,
  bg-hero: #EEE,
  hero-hover: #607D8B,
  bg-hero-hover: #DDD,
  bg-hero-select: #CFD8DC,
  hero: white,
  bg-hero-select-hover: #BBD8DC,
  hero-badge: #405061,
);
$font: (
  body: Cambria,
  fbody: Georgia,
  heading: Arial,
  fheading: Helvetica,
);
