$color: (
  theme: #333,
  title: #369,
  subtitle: #444,
  bg-hero: #EEE,
  hero-hover: #607D8B,
  bg-hero-hover: #DDD,
  bg-hero-select: #CFD8DC,
  hero: white,
  bg-hero-select-hover: #BBD8DC,
  hero-badge: #405061,
  title-mess: red,
  theme-mess: crimson,
  btn-disable: #aaa,
  bg-module: #3f525c,
  nav-a: #039be5,
  nav: #334953,
  hero-btn-disabled: #ccc,
  btn-hover: #cfd8dc,
  bg-btn-del: gray,
  search: #888,
);
$font: (
  body: Cambria,
  fbody: Georgia,
  heading: Arial,
  fheading: Helvetica,
);
