@import 'variables.scss';

h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: map-get($color, bg-hero);
  border-radius: 4px;
  &:visited, &:link {
    color: map-get($color, nav);
  }
  &:hover {
    color:map-get($color , nav-a);
    background-color: map-get($color, bg-hero-select);
  }
  &.active {
    color:map-get($color , nav-a);
  }
}
