@import 'variables.scss';

.search-result li {
  border-bottom: 1px solid map-get($color, bg-btn-del);
  border-left: 1px solid map-get($color, bg-btn-del);
  border-right: 1px solid map-get($color, bg-btn-del);
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: map-get($color, hero);
  cursor: pointer;
  list-style-type: none;
  &:hover {
    background-color: map-get($color, hero-hover);
  }
  a {
    color: map-get($color, search);
    display: block;
    text-decoration: none;
    &:hover {
      color: map-get($color, hero);
    }
    &:active {
      color: map-get($color, hero);
    }
  }
}
#search-box {
  width: 200px;
  height: 20px;
}
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
